projectile-bookmarks.eld
.cask
*.elc
projectile.cache
recentf
ido.last
bookmarks
tramp
*~
aliases
.mc-lists.el
.recentf
.smex-items
elpa
eshell
network-security.data
rake.cache
tmp
auto.el
magithub
tutorial
abbrev_defs
places
.places
url
history
config/.nrepl-port
transient
ede-projects.el
org-journal.cache
games
.persistent-scratch
session*
eln-cache
.lsp-session*